<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/shared.css">
		<link rel="stylesheet" href="css/toggle.css">
		<link rel="stylesheet" href="css/standard.css">
		<link rel="stylesheet" href="css/events.css">
  </head>
  <body>
    {{> nav}}
    <div class="menu-background" style="background-image:url('img/sample-event-main.jpg')">
			<h1>Events</h1>
			<div class="tint"></div>
			<!--specific to artists-->
			<div class="background-artist-info">
				<h3>First ever Amptone concert @ SASPX PAC</h3>
				<p>September 10th 2017</p>
			</div>
    </div>
    <div class="event-content">
			<div class="featured-event">
				<h1>Featured Event</h1>
				<div class="featured-event-contain">
					<div class="featured-event-img"></div>
					<div class="featured-event-des">
						<h3>First ever Amptone concert</h3>
						<h4>September 10th 2017</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus ultricies nunc, id gravida nibh sodales gravida. Nunc nec nisi lobortis, hendrerit mauris elementum, luctus augue. Vestibulum consectetur sem quis dictum iaculis. Sed et dapibus neque. Curabitur nec neque eget arcu ornare molestie.</p>
					</div>
				</div>
			</div>
			<div class="more-events contain">
				<div class="row">
					<div class="col-md-6">
						<div class="one-event" id="1-event">
							<div class="tint"></div>
							<a href="#"><span></span></a>
							<h3>Cafe Du village</h3>
							<p>October 9th 2017</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="one-event" id="2-event">
							<div class="tint"></div>
							<a href="#"><span></span></a>
							<h3>Cafe Du village</h3>
							<p>October 9th 2017</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="one-event" id="3-event">
							<div class="tint"></div>
							<a href="#"><span></span></a>
							<h3>Cafe Du village</h3>
							<p>October 9th 2017</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="one-event" id="4-event">
							<div class="tint"></div>
							<a href="#"><span></span></a>
							<h3>Cafe Du village</h3>
							<p>October 9th 2017</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    {{> footer}}
    <script src="scripts/jquery-3.2.1.js"></script>
		<script src="scripts/bootstrap.js"></script>
		<script
  src="https://code.jquery.com/color/jquery.color.plus-names-2.1.2.min.js"
  integrity="sha256-Wp3wC/dKYQ/dCOUD7VUXXp4neLI5t0uUEF1pg0dFnAE="
  crossorigin="anonymous"></script>
  		<script src="scripts/jq.js"></script>
  		<script src="scripts/events.js"></script>
  </body>
</html>
