<div class="footer">
			<img id="logoimg" class="logoimg" src="img/logo.png">
			<div class="toggle-follow">
				<div class="follow-contain">
					<ol>
						<li><a href="#" class="aicon"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="aicon"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" class="aicon"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#" class="aicon"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" class="aicon"><i class="fa fa-snapchat-ghost"></i></a></li>
						<li><a href="#" class="aicon"><i class="fa fa-soundcloud"></i></a></li>
					</ol>
				</div>
			</div>
			<button href="#" class="footer-button-contact">Contact us</button>
			<p>Copyright © 2017 Amptone. All rights reserved.</p>
</div>
